nav ul li{

  display: inline;
  margin: 20px;
    font-size: 25px;
  
}
nav{
  text-align:center;
}
p{
  color:#123b27;
}
h1,h2{

color:#ff9999;
}
body{
  background:#fffff;
}
header img{
  width:600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{

    text-align:center;

}