nav ul li{

  display: inline;
  margin: 20px;
    font-size: 25px;
  
}
nav{
  text-align:center;
  color: #0e2c4e;
}
p,blockquote{
  color:#0e2c4e;
  font-size: 20px;
}
h1,h2{

color:#f1646a;
}
a{
  color: #008890;
  text-decoration: none;
}

header h1{

color:black;
  font-size: 50px;
  text-align: center;
}

body {
  background:#fde9e8;
}

body main{
  background:#fde9e8;
  margin: 20px;
}

header img{
  width:600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{

    text-align:center;

}